In [44]:
import requests
import lxml.html as lh
import pandas as pd

In [45]:
url='http://www.plusliga.pl/statsPlayers/id/304.html'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [55]:
#Check the length of all the rows
#we have two tables on the webpage
#two rows are shorter (7 elements), because both tables on webpage have two header lines
[len(T) for T in tr_elements[0:]]

[7,
 19,
 19,
 7,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19]

In [57]:
row_width = len(tr_elements[4])
row_width

19

In [84]:
def create_headers(tr_elements):
    #create empty list
    col1=[]
    i=0
    
    #store headers from first row in table
    for t in tr_elements[0]:
        i+=1
        name=t.text_content()
        col1.append(name)
    
    #create empty list
    col2=[]
    j=0
    #store headers from second row in table
    for t in tr_elements[1]:
        j+=1
        name=t.text_content()
        col2.append(name)
    
    #create one header names for all table
    col2[3]=col1[3] + '_' + col2[3]
    col2[4]=col1[3] + '_' + col2[4]
    col2[5]=col1[3] + '_' + col2[5]
    col2[6]=col1[3] + '_' + col2[6]
    col2[7]=col1[4] + '_' + col2[7]
    col2[8]=col1[4] + '_' + col2[8]
    col2[9]=col1[4] + '_' + col2[9]
    col2[10]=col1[4] + '_' + col2[10]
    col2[11]=col1[4] + '_' + col2[11]
    col2[12]=col1[5] + '_' + col2[12]
    col2[13]=col1[5] + '_' + col2[13]
    col2[14]=col1[5] + '_' + col2[14]
    col2[15]=col1[5] + '_' + col2[15]
    col2[16]=col1[5] + '_' + col2[16]
    col2[17]=col1[6] + '_' + col2[17]
    col2[18]=col1[6] + '_' + col2[18]
    
    return col2

In [85]:
headers = create_headers(tr_elements)
headers

['Rozegrane mecze',
 'Sety',
 'Punkty',
 'Zagrywka_Suma',
 'Zagrywka_As',
 'Zagrywka_Błąd',
 'Zagrywka_Asy na set',
 'Przyjęcie_Suma',
 'Przyjęcie_Błąd',
 'Przyjęcie_Neg',
 'Przyjęcie_Perf',
 'Przyjęcie_% perf',
 'Atak_Suma',
 'Atak_Błąd',
 'Atak_Blok',
 'Atak_Perf',
 'Atak_% perf',
 'Blok_Pkt',
 'Blok_Pkt na set']

In [95]:
#Our data are stored on the second table, which is from 5th row onwards without last two rows
for j in range(5,len(tr_elements)-2):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size row_width (19), the //tr data is not from our table 
    if len(T)!=row_width:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        result = headers[i]+str(data)
        #Increment i for the next column
        i+=1

In [96]:
result

'Blok_Pkt na set0,02'

In [90]:
test = tuple(headers[0])
test

('R', 'o', 'z', 'e', 'g', 'r', 'a', 'n', 'e', ' ', 'm', 'e', 'c', 'z', 'e')